<div class="mb-2">
    <label class="form-label fw-bold">
        @Label
    </label>

    <div class="input-group">
        <input type="number"
               class="form-control text-center"
               value="@Value"
               min="@Min"
               max="@Max"
               @onchange="OnInputChanged" />
    </div>
</div>